/* Estilos para el contenedor principal */
.container {
  width: 100%; /* Equivalente a w-full en Tailwind */
  display: flex; /* Equivalente a flex en Tailwind */
  flex-direction: row; /* Equivalente a flex-row en Tailwind */
  gap: 1.25rem; /* Equivalente a gap-5 en Tailwind */
  align-items: center; /* Equivalente a items-center en Tailwind */
  padding: 1rem; /* Equivalente a p-4 en Tailwind */
  background-color: #f7f7f7; /* Reemplazar con el color real de bg-slate-100 en Tailwind */
  border-radius: 1rem; /* Equivalente a rounded-2xl en Tailwind */
}

.container:hover {
  background-color: #a0aec0; /* Reemplazar con el color real de bg-slate-200 en Tailwind */
}

/* Estilos para el avatar dentro del contenedor */
.avatar {
  width: 3.5rem; /* Equivalente a w-14 en Tailwind */
  height: 3.5rem; /* Equivalente a h-14 en Tailwind */
  font-size: 1.75rem; /* Equivalente a text-large en Tailwind */
}

/* Estilos para el contenedor de texto dentro del contenedor principal */
.text_container {
  display: flex; /* Equivalente a flex en Tailwind */
  flex-direction: column; /* Equivalente a flex-col en Tailwind */
  color: #1f2937; /* Reemplazar con el color real de text-slate-900 en Tailwind */
  font-weight: bold; /* Equivalente a font-bold en Tailwind */
}

/* Estilos para el párrafo dentro del contenedor de texto */
.text-container p {
  margin: 0; /* Elimina el margen predeterminado del párrafo */
}

/* Estilos para el chip dentro del contenedor de texto */
.chip {
  color: #4a5568; /* Reemplazar con el color real de text-slate-600 en Tailwind */
  border: none; /* Equivalente a border-0 en Tailwind */
  padding: 0; /* Equivalente a p-0 en Tailwind */
}
