.main_container {
  width: 100%; /* Equivalente a w-full en Tailwind */
  height: 100vh; /* Equivalente a h-screen en Tailwind */
  display: flex; /* Equivalente a flex en Tailwind */
  flex-direction: row; /* Equivalente a flex-row en Tailwind */
  gap: 1rem; /* Equivalente a gap-4 en Tailwind */
  background-color: #ffffff; /* Equivalente a bg-white en Tailwind */
}

.users_container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem; /* Equivalente a gap-5 en Tailwind */
  width: 50%; /* Equivalente a w-1/2 en Tailwind */
  max-width: 20rem; /* Equivalente a max-w-md en Tailwind */
  padding: 1.25rem; /* Equivalente a p-5 en Tailwind */
  background-color: #ffffff; /* Equivalente a bg-white en Tailwind */
  height: 100vh; /* Equivalente a h-screen en Tailwind */
  border-radius: 1rem; /* Equivalente a rounded-2xl en Tailwind */
}

/* Estilos para el párrafo dentro del contenedor */
.text {
  color: #1f2937; /* Equivalente a text-slate-900 en Tailwind */
  font-size: 1.5rem; /* Equivalente a text-2xl en Tailwind */
  font-weight: bold; /* Equivalente a font-bold en Tailwind */
}

.scroll_shadow {
  display: flex; /* Equivalente a flex en Tailwind */
  flex-direction: column; /* Equivalente a flex-col en Tailwind */
  gap: 1.25rem; /* Equivalente a gap-5 en Tailwind */
}
